<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">

  <div>
    <app-label for="name"content="Name"></app-label>
    <app-input
      id='name'
      type='text'
      [valor]='formData.name'
      (mudouValor)="onChangeName($event)"
    ></app-input>
  </div>

  <div>
    <app-label for="address"content="Address"></app-label>
    <app-input
      id='address'
      type='text'
      [valor]='formData.address'
      (mudouValor)="onChangeAddress($event)"
    ></app-input>
  </div>

  <app-button
  type="submit"
  title="Purchase"
  ></app-button>

</form>
